<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT"> 
        <input type = "text" value="<%=listing.title%>" name="listing[title]">
        <br><br>
        <textarea name="listing[description]"><%= listing.description %></textarea>
        <br><br>
        <input value="<%=listing.image%>" name="listing[image]">
        <br><br>
        <input value="<%=listing.price%>" type="number" name="listing[price]">
        <br><br>
        <input value="<%=listing.location%>" type="text" name="listing[location]">
        <br><br>
        <input value="<%=listing.country%>" name="listing[country]">
        <br><br>
        <button>EDIT</button>
        
    </form>
</body>
</html>